<mat-card class="post-wrap">
  <div class="card-header-wrapper">
    <div class="title-subtitle-wrapper">
      <mat-card-title>
        {{ post.title }}
      </mat-card-title>
      <mat-card-subtitle class="card-author">
        {{ post.author }}
      </mat-card-subtitle>
    </div>

    <p>
      {{ post.date | date: "dd.MM.yyyy HH:mm" }}
    </p>
  </div>

  <mat-card-actions>
    <button
      mat-stroked-button
      color="primary"
      [routerLink]="['/post', post.id]"
    >
      Open
    </button>
  </mat-card-actions>
</mat-card>
