<mat-card class="wrapper">
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Login to admin panel</h2>

    <mat-card class="error-card" *ngIf="auth.error$ | async as erorr">
      {{ erorr }}
    </mat-card>

    <mat-form-field
      class="form-control"
      [ngClass]="{
        invalid: form.get('email').touched && form.get('email').invalid
      }"
    >
      <mat-label>Email:</mat-label>
      <input
        matInput
        class="input"
        type="email"
        placeholder="pat@example.com"
        formControlName="email"
      />
      <div
        class="validation"
        *ngIf="form.get('email').touched && form.get('email').invalid"
      >
        <mat-error *ngIf="form.get('email').errors.required"
          >Input email</mat-error
        >
        <mat-error *ngIf="form.get('email').errors.email"
          >Invalid email format</mat-error
        >
      </div>
    </mat-form-field>
    <mat-form-field class="form-control">
      <mat-label>Password:</mat-label>
      <input
        matInput
        class="input"
        type="password"
        formControlName="password"
      />
      <div
        class="validation"
        *ngIf="form.get('password').touched && form.get('password').invalid"
      >
        <mat-error *ngIf="form.get('password').errors.required"
          >Input password</mat-error
        >
        <mat-error *ngIf="form.get('password').errors.minlength"
          >Password should be
          {{ form.get("password").errors.minlength.requiredLength }} symbols or
          more. Now it is
          {{ form.get("password").errors.minlength.actualLength }}
          symbols</mat-error
        >
      </div>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid || submitted"
    >
      Login
    </button>
  </form>
</mat-card>
