.form-control {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1.5rem;
}

.input-search {
  width: 100%;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
  border: 1px solid black;
}

button {
  margin: 0 0.5em;
}
