<mat-form-field class="form-control">
  <mat-label>Search post by title</mat-label>
  <input matInput type="text" class="input-search" [(ngModel)]="searchStr" />
</mat-form-field>

<table *ngIf="posts.length; else loading">
  <thead>
    <tr>
      <th>#</th>
      <th>Author</th>
      <th>Title</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts | searchPosts: searchStr; let idx = index">
      <td>{{ idx + 1 }}</td>
      <td>{{ post.author }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.date | date: "medium" }}</td>
      <td>
        <button
          mat-stroked-button
          color="primary"
          [routerLink]="['/admin', 'post', post.id, 'edit']"
        >
          Open
        </button>
        <button mat-flat-button color="warn" (click)="remove(post.id)">
          Remove
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #loading>
  <p>
    Loading...
  </p>
</ng-template>
