.spacer {
  flex: 1 1 auto;
}

.link {
  text-decoration: none;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.active {
  color: black;
}

ul {
  list-style-type: none;
  display: flex;

  li {
    margin: 0.5rem;
    padding-left: 0;
  }
}
