<mat-toolbar color="warn">
  <a [routerLink]="['/']" class="link">Admin layout</a>
  <span class="spacer"></span>
  <ul *ngIf="auth.isAuthenticated()">
    <li>
      <a
        [routerLink]="['/admin', 'dashboard']"
        routerLinkActive="active"
        class="link"
        >Dashboard</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/admin', 'create']"
        routerLinkActive="active"
        class="link"
        >Create</a
      >
    </li>
    <li><a href="#" (click)="logout($event)" class="link">Exit</a></li>
  </ul>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
